.vs/
MakeVolunteerGreatAgain/obj/
MakeVolunteerGreatAgain/bin/
.idea/
.github
MakeVolunteerGreatAgain/bin/Debug/net8.0/MakeVolunteerGreatAgain.exe
MakeVolunteerGreatAgain/bin/Debug/net8.0/MakeVolunteerGreatAgain.dll
